[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "==1.60.0"
requests = "*"
orjson = "*"
platformdirs = "*"
camoufox = "==0.4.11"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
